.button {
    
    
    padding: 5px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
}
.button3 {
    background-color: rgba(255, 255, 255, 0.579); 
    color: rgb(0, 0, 0); 
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
}

.but span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}
  
.but:hover {
    background-color: #809bf4;
    color: rgb(10, 10, 10);
    border-radius: 11px;
    padding: 6px 10px;
}
.input {
    background-color: rgba(255, 255, 255, 0.116);
    color: black;
    border: 2px solid #ffffff; /* Green */
    
    padding: 5px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    
    border-radius: 11px;
}
.boxloader{

    display: block;
    margin: 0 auto;
    border-color: red;
  
}
.widtha{
    min-width: 85%;
}
div.transbox {
    margin: 30px;
    height: 150%;
    overflow-x: clip;
    overflow-y: clip;
    background-color: rgba(255, 255, 255, 0.229);
  }
.fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
  overflow: hidden;
}
.input:hover {
    background-color: rgba(255, 255, 255, 0.555);
    padding: 6px 10px;
    border: 2px solid #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 15px;
}
.heading {
    padding: 5px 9px;
    transition-duration: 0.4s;
}
.heading:hover {
    padding: 9px 12px;
    
}
.blue {
    color: #5bc0de;
}
.text{
    transition-duration: 0.4s;
    padding: 1px 2.5px;
}
.text:hover {
    padding: 1px 2.5px;
}
.messa {
    color: #ff0000a2;
    transition-duration: 0.4s;
    
}
.messa:hover {
    padding: 2.5px 4px;
    color: #ff0000;
}
.black {
    color: #000000;
}
.but{
    padding: 5px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
    border: 2px solid #ffffff; /* Green */
    border-radius: 15px;
}
.gwarp{
    background-image: linear-gradient(
    90deg,
    hsl(226deg 84% 73%) 0%,
    hsl(308deg 31% 70%) 50%,
    hsl(6deg 94% 79%) 100%
  );
}